/_test
/_ts
/build
/contract_others
/coverage
/coverageEnv
/migration_disabled
node_modules
/refs
/test_one
/test_skip
.idea
coverage.json
dump.rdb
ethpm.json
parse.js
txt.txt

.DS_Store
temp
.zip
.rar
.7z
.db
.sql

